.yellow{background-color: #FFD72A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 755px;
  height: 280px;}
  .purple{background-color: 	#B029FF;
  width: 107px;
  height: 106px;}