@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

body{
  background-color: rgb(62, 148, 236);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  border-collapse: collapse;
  width: 600px;
}

th{
  color: rgb(220, 220, 220);
  background-color: rgb(27, 30, 36);
  font-weight: normal;
  text-align: left;
  padding: 20px;
  border-bottom: 3px solid rgb(170, 170, 170);
}

tr:nth-child(odd) > td{
  background-color: rgb(230, 230, 230);
}

tr:nth-child(even) > td{
  background-color: white;
}

td{
  border-top: 1px solid lightgray;
  padding: 20px;
  color: rgb(31, 31, 31);
}

td:nth-child(2){
  border-left: 1px solid lightgray;
  width: 55%;
}

th:nth-child(1){
  border-radius: 5px 0 0 0;
}

th:nth-child(2){
  border-left: 1px solid rgb(110, 110, 110);
  border-radius: 0 5px 0 0;
}

.data-currency::before {
  content: "$ ";
}

tr:last-child td:last-child {
   border-radius: 0 0 5px 0;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}